img {
    max-height: 25rem;
    max-width: 25rem;
    margin-right: 1rem;
}

h2 {
    margin: 0;
}

h3 {
    font-weight: 500;
    margin: 0.2rem 0;
}

h4 {
    margin: 0;
    font-weight: 300;
}

.picture-and-description {
    display: flex;
    flex-wrap: wrap;
    min-width: 20rem;
    margin-top: 1rem;
}

p {
    width: 100%;
    max-width: 30rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}