<main>
    <div class="statues-panel">
        <h2>{{selectedLocation}}</h2>
        <h3>Ancestor Statues</h3>
        <ul>
            <li *ngFor="let statue of statues" [class.selected-li]="statue === selectedStatue" (click)="onSelect(statue)">
                <img src="{{statue.imageLink.value}}" alt="{{statue.title.value}}">
            </li>
        </ul>
    </div>
    <div class="detail-panel">    
        <app-statue-detail *ngIf="selectedStatue" [statue]="selectedStatue" ></app-statue-detail>
    </div>
</main>